---
import { getEnumValues, type FieldsShape } from '../../../prisma/db-utils';

import { fC, isHid, isRequired } from '../../modules/form.resolvers';

interface Props {
	metaData: FieldsShape,
	entity: string
}

const { metaData, entity } = Astro.props;

---

<form action="#">
	<div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
		{
			metaData?.length &&
				metaData.map((field) => (
					<div
						class={`w-full ${isHid(field) ? "hidden" : ""}`}
					>
						<label
							for="name"
							class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
						>
							{fC(field.name)}{' '}
							<span class="text-gray-400">
								{isRequired(field) ? ' *' : ''}
							</span>
						</label>
						{field.kind === 'enum' ? (
							<select
								name={field.name}
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
							>
								{!field.hasDefaultValue && <option selected="">Select {fC(field.name)}</option>}
								{getEnumValues(field.name)?.map(e => (
									<option value={e}>{fC(e)}</option>										
								))} 
							</select>
						) : (
							<input
								type={["Int", "BigInt"].includes(field.type) ? "number" : "text"}
								name="name"
								id="name"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
								placeholder={`${fC(field.name)}`}
								required={isRequired(field)}
							/>
						)}
					</div>
				))
		}
	</div>
	<button
		type="submit"
		class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800"
	>
		Add {fC(entity)}
	</button>
</form>
