---
import { url } from '../lib/data.js';

import menu from "../config/menu.json";

const { pathname } = new URL(Astro.request.url);

export interface ChildNavigationLink {
  name: string;
  url: string;
}

export interface NavigationLink {
  name: string;
  url: string;
  hasChildren?: boolean;
  children?: ChildNavigationLink[];
}

const { main }: { main: NavigationLink[] } = menu;
---

<nav
	class="fixed z-50 w-full bg-white border-gray-200 sm:py-2 dark:bg-gray-800 dark:border-gray-700"
>
	<div class="container py-3 mx-auto">
		<div class="flex items-center justify-between mx-8">
			<div class="flex items-center justify-start">
				<a href={url()} class="flex mr-4">
					<img
						src={'/images/logo.png'}
						class="w-16 h-auto mr-3"
						alt="GitaSP.App Logo"
					/>
				</a>
			</div>

			<div class="hidden sm:flex sm:ml-6">
				<ul class="flex space-x-8">
					{ main.map(nav => (
					<li>
						<a
							href={nav.url}
							class={`${pathname === nav.url && "text-teal-600"}  text-sm font-semibold text-gray-500 hover:text-primary-700 dark:text-gray-400 dark:hover:text-primary-500`}
							aria-current="page"
						>
							{nav.name}
						</a>
					</li>
					))}
				</ul>
			</div>

			<div>
				<a
					href="#"
					class="rounded-3xl hidden text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium text-sm px-5 py-2.5 text-center sm:inline-flex items-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
				>
					<svg
						class="w-5 h-5 mr-2 -ml-1"
						fill="none"
						stroke="currentColor"
						viewBox="0 0 24 24"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
						></path>
					</svg>
					Login / Join
				</a>

				<!-- navbar toggler -->
				<button
					data-collapse-toggle="mobile-menu"
					type="button"
					class="menu-toggler inline-flex items-center justify-center p-2 ml-3 text-gray-700 rounded-lg sm:hidden hover:text-teal-700 focus:outline-none dark:hover:bg-gray-700 dark:hover:text-white"
					aria-controls="mobile-menu-2"
					aria-expanded="false"
				>
					<span class="sr-only">Open/close main menu</span>
					<!-- Open mobile menu icon -->
					<svg class="h-6 menu-open fill-current" viewBox="0 0 20 20">
						<title>Menu Open</title>
						<path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
					</svg>
					<!-- Close mobile menu icon -->
					<svg class="h-6 menu-close hidden fill-current" viewBox="0 0 20 20">
						<title>Menu Close</title>
						<polygon
						lang="ts"		points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
							transform="rotate(45 10 10)"></polygon>
					</svg>
				</button>

				<!-- /navbar toggler -->
			</div>
		</div>
	</div>
	<!-- Mobile menu -->
	<div class="sm:hidden" id="mobile-menu">
		<ul class="pt-2 bg-white">
			{main.map(nav => (
			<li class="text-center bg-white py-2">
				<a
					href={nav.url}
					class={`${pathname === nav.url && "text-teal-600"} block py-2 pl-3 pr-4 text-base font-semibold text-gray-900 dark:bg-gray-700 dark:text-white`}
					>{nav.name}</a>
			</li>				
			))}

			<li class="flex justify-center">
				<a
					href="#"
					class="rounded-3xl mt-2  text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
				>
					<svg
						class="w-5 h-5 mr-2 -ml-1"
						fill="none"
						stroke="currentColor"
						viewBox="0 0 24 24"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
						></path>
					</svg>
					Login / Join
				</a>
			</li>
		</ul>
	</div>
</nav>


<script is:inline>
 const toggler = document.querySelector(".menu-toggler");
 const menuOpen = document.querySelector(".menu-open");
 const menuClose = document.querySelector(".menu-close");
 toggler?.addEventListener("click", () => {
	console.log("toggler clicked");
	 menuOpen?.classList.toggle("hidden");
	 menuClose?.classList.toggle("hidden");
 })
</script>
